ClientManagementSystem.UI/Connected Services/ClientManagementServiceReference/ClientManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ClientManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ClientManagementService/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ClientManagementService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ClientManagementService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientManagementSystem.DAL.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientManagementService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IClientManagementService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientManagementService">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientManagementService/AddClient" message="tns:IClientManagementService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientManagementService/AddClientResponse" message="tns:IClientManagementService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientManagementService/GetClient" message="tns:IClientManagementService_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientManagementService/GetClientResponse" message="tns:IClientManagementService_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientManagementService/GetAllClients" message="tns:IClientManagementService_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientManagementService/GetAllClientsResponse" message="tns:IClientManagementService_GetAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientManagementService/UpdateClient" message="tns:IClientManagementService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientManagementService/UpdateClientResponse" message="tns:IClientManagementService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientManagementService/DeleteClient" message="tns:IClientManagementService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientManagementService/DeleteClientResponse" message="tns:IClientManagementService_DeleteClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientManagementService" type="tns:IClientManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClientManagementService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IClientManagementService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/IClientManagementService/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IClientManagementService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IClientManagementService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientManagementService">
    <wsdl:port name="BasicHttpBinding_IClientManagementService" binding="tns:BasicHttpBinding_IClientManagementService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ClientManagementService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>