ClientManagementSystem.UI/Connected Services/ClientManagementServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientManagementSystem.DAL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientManagementSystem.DAL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressTypes" nillable="true" type="tns:ArrayOfAddressType" />
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactInfos" nillable="true" type="tns:ArrayOfContactInfo" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfAddressType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressType" nillable="true" type="tns:AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressType" nillable="true" type="tns:ArrayOfAddressType" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="AddressTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" nillable="true" type="tns:ContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactInfo" nillable="true" type="tns:ArrayOfContactInfo" />
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactInfoId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactType" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfo" nillable="true" type="tns:ContactInfo" />
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactInfos" nillable="true" type="tns:ArrayOfContactInfo" />
      <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
</xs:schema>